APP_NAME=EventTicketingPlatform
DEBUG=True
DATABASE=postgresql+asyncpg://postgres:1234@localhost:5433/ticket
REDIS_URL
SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_DAYS
FRONTEND_URL
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
EMAILS_FROM